<h4 class="theme-link-color fw-normal">{{ 'webAppData.themeParams.title' | translate }}</h4>

<div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.accentTextColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.accent_text_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.bgColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.bg_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.buttonColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.button_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.buttonTextColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.button_text_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.destructiveTextColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.destructive_text_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.headerBgColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.header_bg_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.hintColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.hint_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.linkColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.link_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.secondaryBgColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.secondary_bg_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.sectionBgColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.section_bg_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.sectionHeaderTextColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.section_header_text_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.sectionSeparatorColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.section_separator_color"></div>
  </div>
  <div>
    <span class="theme-hint-color">{{ 'webAppData.themeParams.subtitleTextColor' | translate }}:</span> <div class="color-around-block" [style.background-color]="webAppData.themeParams.subtitle_text_color"></div>
  </div>
</div>
