<div class="orders-container">
  <!-- Состояние загрузки -->
  <div *ngIf="loading" class="loading-container">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p class="loading-text" style="color: var(--tg-theme-text-color);">Загрузка заказов...</p>
  </div>

  <!-- Сообщение об ошибке -->
  <div *ngIf="!loading && error" class="error-container">
    <mat-icon color="warn" class="theme-destructive-text-color">error</mat-icon>
    <h2 class="theme-destructive-text-color">Ошибка</h2>
    <p class="theme-destructive-text-color">{{ errorMessage }}</p>
  </div>

  <!-- Нет заказов -->
  <div *ngIf="!loading && !error && orders.length === 0" class="empty-container">
    <mat-icon>receipt_long</mat-icon>
    <h2 style="color: var(--tg-theme-text-color);">У вас пока нет заказов</h2>
    <p style="color: var(--tg-theme-text-color);">Вы можете сделать заказ на главной странице</p>
  </div>

  <!-- Список заказов -->
  <div *ngIf="!loading && !error && orders.length > 0" class="orders-list">
    <div class="title">Мои заказы</div>
    <div *ngFor="let order of orders" class="order-card" (click)="openOrderDetails(order)">
      @if (order.paymentMethod === 'stripe') {
        <div class="order-header">
          <div class="order-header-left">
            <div class="order-title" style="color: var(--tg-theme-text-color);">{{ order.category.title }}</div>
            <div class="order-date" style="color: var(--tg-theme-hint-color);">{{ formatDate(order.createdAt) }}</div>
          </div>
          <div class="order-header-right">
            <div class="order-price" style="color: var(--tg-theme-text-color);">{{ formatPrice(order.category.price) }}</div>
            <div class="order-status-badge" [ngClass]="getStatusClass(order.status)">
              {{ getStatusText(order.status) }}
            </div>
          </div>
        </div>
      } @else if (order.paymentMethod === 'yookassa') {
        <div class="order-header">
          <div class="order-header-left">
            <div class="order-title" style="color: var(--tg-theme-text-color);">{{ order.category.title }}</div>
            <div class="order-date" style="color: var(--tg-theme-hint-color);">{{ formatDate(order.createdAt) }}</div>
          </div>
          <div class="order-header-right">
            <div class="order-price" style="color: var(--tg-theme-text-color);">{{ formatPrice(order.category.price || 0) }}</div>
            <div class="order-status-badge" [ngClass]="getStatusClass(order.status)">
              {{ getStatusText(order.status) }}
            </div>
          </div>
        </div>
      }

    </div>
  </div>
</div>
<!--<pre>{{orders|json}}</pre>-->
