<div class="success-payment-container">
  <mat-card class="payment-card">
    <mat-card-content>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p class="loading-text" style="color: var(--tg-theme-text-color);">Проверяем статус оплаты...</p>
      </div>

      <div *ngIf="!loading && error" class="error-container">
        <mat-icon color="warn" class="theme-destructive-text-color">error</mat-icon>
        <h2 class="theme-destructive-text-color">Ошибка</h2>
        <p class="theme-destructive-text-color">{{ errorMessage }}</p>
      </div>

      <div *ngIf="!loading && !error && success" class="success-container">
        <mat-icon color="primary">check_circle</mat-icon>
        <h2 style="color: var(--tg-theme-text-color);">Оплата успешно выполнена!</h2>
        
        <div class="payment-details" *ngIf="paymentData?.order">
          <div class="title">Детали заказа:</div>
          <div style="color: var(--tg-theme-text-color);"><span class="theme-hint-color">Услуга:</span> {{ paymentData.order.category.title }}</div>
          <div style="color: var(--tg-theme-text-color);"><span class="theme-hint-color">Сумма:</span> {{ paymentData.order.category.price }} руб.</div>
          <div style="color: var(--tg-theme-text-color);"><span class="theme-hint-color">Номер заказа:</span> {{ paymentData.order.orderId | slice:0:10 }}...</div>
          <div style="color: var(--tg-theme-text-color);"><span class="theme-hint-color">Дата:</span> {{ paymentData.order.createdAt | date:'dd.MM.yyyy HH:mm' }}</div>
        </div>
      </div>

      <div *ngIf="!loading && !error && !success" class="pending-container">
        <mat-icon color="accent">pending</mat-icon>
        <h2 style="color: var(--tg-theme-text-color);">Оплата не завершена</h2>
        <p style="color: var(--tg-theme-text-color);">{{ errorMessage }}</p>
        <p style="color: var(--tg-theme-text-color);">Если вы уверены, что оплата была произведена, пожалуйста, свяжитесь с нами.</p>
      </div>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToHome()">Вернуться на главную</button>
    </mat-card-actions>
  </mat-card>
</div> 