.container {
  padding: 10px 20px;
}

.component-selector {
  width: 210px;
  height: inherit;
  background: var(--background);
  --mat-sidenav-container-divider-color: var(--primary-light);
}



.theme-selector {
  width: 300px;
  height: inherit;
  background: var(--background);
  --mat-sidenav-container-divider-color: var(--primary-light);
}
