@if (telegramService.telegramUser && telegramService.telegramUser.id && user) {
<!--  <mat-toolbar>-->
<!--    <app-toolbar-->
<!--      [(componentSelectorOpen)]="componentSelectorOpen"-->
<!--      [(themeSelectorOpen)]="themeSelectorOpen"-->
<!--    />-->
<!--  </mat-toolbar>-->

}
<mat-sidenav-container>
  <mat-sidenav
    class="component-selector"
    [(opened)]="componentSelectorOpen"
    [mode]="componentSelectorMode()"
  >
    <app-main-menu  (closeMenu)="closeMenu()" />
  </mat-sidenav>
  <div class="container">

    <app-user-greeting [user]="user"></app-user-greeting>

    <router-outlet />
  </div>
</mat-sidenav-container>
