<h4 class="theme-link-color fw-normal">{{ 'webAppData.mainButton.title' | translate }}</h4>
<div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.text' | translate }}:</span> {{ webAppData.MainButton.text }}</div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.color' | translate }}:</span> {{ webAppData.MainButton.color }}</div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.textColor' | translate }}:</span> {{ webAppData.MainButton.textColor }}</div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.isVisible' | translate }}:</span> {{ webAppData.MainButton.isVisible ? 'Yes' : 'No' }}</div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.isProgressVisible' | translate }}:</span> {{ webAppData.MainButton.isProgressVisible ? 'Yes' : 'No' }}</div>
  <div><span class="theme-hint-color">{{ 'webAppData.mainButton.isActive' | translate }}:</span> {{ webAppData.MainButton.isActive ? 'Yes' : 'No' }}</div>
</div>
