svg {
  vertical-align: middle;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tg-premium {
  width: 20px;
  height: 20px;
}
